@use "../../../../Styles/_breakpoints" as bp;

.catalog-page-item {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.catalog-page-item:hover {
	transform: scale(1.03);
}

.catalog-page-item-image {
	width: 100%;
}

.catalog-item-info {
	display: flex;
	flex-direction: column;

	font-size: 25px;

	@include bp.up-to(bp.$bp-small) {
		font-size: 20px;
	}
}

.catalog-item-price {
	color: var(--red);
}

@mixin line-clamp($lines) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: $lines;
	line-clamp: $lines;
}

.catalog-item-info p {
	margin: 0 0; // сброс дефолтных отступов браузера
}

.catalog-item-name {
	@include line-clamp(2);
}
.catalog-item-size {
	@include line-clamp(1);
}
.catalog-item-price {
	@include line-clamp(1);
	color: var(--red);
}
