@use "../../../../Styles/_breakpoints" as bp;

.catalog-page-item:hover {
	transform: scale(1.03);
}

.catalog-page-item-image {
	/* TODO DMITRIY: можно просто использовать width, а не min-width и max-width?? */
	min-width: 100%;
	max-width: 100%;
}

.catalog-page-item-name,
.catalog-page-item-size,
.catalog-page-item-price {
	margin-top: 10px;
	margin-bottom: 10px;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	line-height: 33px;
	font-size: 33px;

	@include bp.up-to(bp.$bp-small) {
		line-height: 20px;
		font-size: 20px;
	}
}

.catalog-page-item-price {
	color: var(--red);
}
