.about-us-page-small-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-size: 30px;
}

.about-us-page-small-screen__text {
	text-align: center; 
	margin: 0;
}

.about-us-page-small-screen__mascot {
	display: block;
	max-width: 100%;
	height: auto;
}

.about-us-page-small-screen__links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	font-weight: var(--font-weight-regular);
}
