.icon-link {
	display: inline-flex;
	align-items: center;
	gap: 18px;
	color: inherit;
	text-decoration: none;
}

.icon-link__icon {
	display: block;
	height: 0.9em;
	flex-shrink: 0;
}

.icon-link__text {
	text-decoration: underline;
	margin-bottom: 4px;
}
