@use "../../../Styles/_breakpoints" as bp;

.filter-buttons-wrapper {
	position: relative;
	z-index: 11;
	width: fit-content;
	display: flex;
	gap: 10px;
	margin-bottom: 32px;

	@include bp.up-to(bp.$bp-small) {
		margin-bottom: 16px;
	}
}

.filter-activation-button {
	padding: 2px 20px 2px 20px;
	cursor: pointer;
	font-size: 33px;

	color: var(--white);
	background-color: var(--black);
	border: 3px solid var(--dark-grey);
}

.filter-activation-button:active {
	scale: 0.97;
}

.filter-reset-button {
	padding: 2px 20px 2px 20px;
	cursor: pointer;
	font-size: 33px;

	color: var(--white);
	background-color: var(--red);
	border: 3px solid var(--dark-grey);
}

.filter-reset-button:active {
	scale: 0.97;
}


