.database-page-item:hover {
	transform: scale(1.03);
}

.database-page-item-image {
	/* TODO DMITRIY: можно просто использовать width, а не min-width и max-width?? */
	min-width: 100%;
	max-width: 100%;
}

.database-page-item-name,
.database-page-item-price {
	margin-top: 10px;
	margin-bottom: 10px;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	line-height: 20px;
}
