
.catalog-item-page-modal-container {
	position: relative;
}

.catalog-item-page-modal-image {
	max-width: 90vw;
	max-height: 90vh;
	position: relative;
	cursor: default;
}

.catalog-item-page-modal-close {
	position: absolute;
	top: 0;
	right: 0;

	padding-top: 13px;
	padding-right: 10px;
	border: none;
	background: none;
	cursor: pointer;
	opacity: 0.9;
}

.catalog-item-page-modal-close:hover {
	opacity: 1;
}

.catalog-item-page-modal-cross-icon {
	display: block;
	width: 25px;
	height: 25px;
}
