

.filter-checkbox {
	font-size: 25px;

	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
	gap: 10px;
}

.filter-checkbox input {
	display: none;
}

.checkbox-box {
	width: 0.8em;
	height: 0.8em;
	border: 3px solid var(--dark-grey);
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.checkmark {
	min-width: 0.8em;
	max-width: 0.8em;
}
