/* скрытие дефолтных стрелочек - переключалок */
input[type="number"] {
	-moz-appearance: textfield;  /* Firefox: remove number arrows */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none; /* Chrome, Safari, Edge */
	margin: 0;
}

.price-range-container {
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.price-input {
	display: flex;
	align-items: center;
	text-align: center;

	max-width: 5em;
	font-size: 22px;
	border-top: 2px solid var(--dark-grey);
	border-left: 2px solid var(--dark-grey);
	border-right: none;
	border-bottom: none;
}


.price-input::placeholder {
	color: var(--middle-grey);
}

.price-icon {
	width: 20px;
	height: 20px;
}
