
.filter-button {
	width: 300px;
	padding: 3px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--black);
	background-color: var(--light-grey);
	border-top: 3px solid var(--dark-grey);
	border-left: 3px solid var(--dark-grey);
	border-right: none;
	border-bottom: none;

	font-size: 25px;
	font-weight: var(--font-weight-bold);

	text-transform: lowercase;
}

.filter-button:active {
	scale: 0.97;
}

.filter-button img {
	align-items: right;
	max-width: 25px;
}

